<!doctype html>
<html ng-app="angularRails">
<head>
  <meta charset="utf-8">
  <title>BongBi Shop</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  <link rel="stylesheet" href="./assets/app.css"/>
  <link rel="stylesheet" href="./app/index.css"/>
</head>
<body ng-cloak layout="column" ng-controller="ArticlesController as vm">

<div layout-align="center center" layout="row" flex="22" min-height="120">
  <div layout="column">
    <div layout="row" class="anthe-running-banner" hide-sm="">
      &#9829;
      <acme-malarkey class="anthe-running-banner"
                     extra-values="['Hàng xách tay cho mẹ và bé', '0984 056 076    |    0997 887 968', '23 Núi Đôi, Thị Trấn Sóc Sơn, Hà Nội (Hiệu ảnh Bình Chúc)' , 'facebook: Thu Trang Nguyen']">
      </acme-malarkey>
    </div>

    <div flex="22" class="anthe-banner-text">
      <h1 style="font-family:'Metro'; color: deeppink"> BongBi Shop </h1>
    </div>

  </div>
  <img src="assets/images/bongncar.png" height="150px">
</div>
<md-divider></md-divider>
<md-toolbar md-scroll-shrink class="thinToolbar2" layout-align="center center">
  <div layout="row" layout-align="center  center">
    <div flex="22" layout-padding="20" layout-align="center center">
      <md-button  ng-href="#" flex="22" class="anthe-button-text-btn">
        <span hide-sm>BốngBi Shop</span>
        <md-icon md-svg-icon="assets/svg/store.svg" class="anthe-menu-button"></md-icon>
      </md-button>
      <md-button  ng-href="#order/0" flex="22" class="anthe-button-text-btn">
        <span hide-sm>Đặt Hàng</span>
        <md-icon md-svg-icon="assets/svg/shopping-purse-icon-2.svg" class="anthe-menu-button"></md-icon>
      </md-button>
      <md-button  href="#aboutme" flex="22" layout-padding="20" class="anthe-button-text-btn">
        <span hide-sm>Liên Hệ</span>
        <md-icon class="anthe-menu-button" md-svg-icon="assets/svg/telephone.svg"></md-icon>
      </md-button>
    </div>

    <!--<div  show-sm hide-lg hide-md hide-gt-lg layout="row" class="anthe-menu-icon-bar">-->
    <!--<md-button class="md-icon-button " aria-label="New" href="#">-->
    <!--<md-icon md-svg-icon="assets/svg/store.svg" class="anthe-menu-button"></md-icon>-->
    <!--</md-button>-->
    <!--<md-button class="md-icon-button " aria-label="New">-->
    <!--</md-button>-->
    <!--<md-button ng-href="#order/0" class="md-icon-button" aria-label="Shop">-->
    <!--<md-icon md-svg-icon="assets/svg/shopping-purse-icon-2.svg" class="anthe-menu-button"></md-icon>-->
    <!--</md-button>-->
    <!--<md-button class="md-icon-button " aria-label="New"></md-button>-->
    <!--<md-button class="md-icon-button " aria-label="Facebook" href="#aboutme">-->
    <!--<md-icon class="anthe-menu-button" md-svg-icon="assets/svg/telephone.svg"></md-icon>-->
    <!--</md-button>-->
    <!--</div>-->
  </div>
</md-toolbar>
<md-divider></md-divider>

<div layout="row" flex>
  <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 anthe-sidenav"-->
  <!--md-component-id="left"-->
  <!--ng-click="vm.toggleList()" aria-label="Show User List"-->
  <!--md-is-locked-open="$mdMedia('gt-sm')">-->
  <!--<md-list>-->
  <!--<md-list-item>-->
  <!--<md-button href="#quotes" ng-class="">-->
  <!--<md-icon md-svg-icon="./assets/svg/quotations-button.svg" class="avatar"></md-icon>-->
  <!--All Quotes-->
  <!--</md-button>-->
  <!--</md-list-item>-->
  <!--<md-list-item>-->
  <!--<md-button href="#new">-->
  <!--<md-icon md-svg-icon="./assets/svg/add-btn.svg" class="avatar"></md-icon>-->
  <!--Add New Quote-->
  <!--</md-button>-->
  <!--</md-list-item>-->
  <!--<md-list-item>-->
  <!--<md-button ng-click="" href="#aboutme" ng-class="">-->
  <!--<md-icon md-svg-icon="./assets/svg/new-email-outline-symbol-in-black-circular-button.svg"-->
  <!--class="avatar"></md-icon>-->
  <!--Talk to Me-->
  <!--</md-button>-->
  <!--</md-list-item>-->
  <!--<md-list-item>-->
  <!--<md-button ng-click="" href="#~" ng-class="">-->
  <!--<md-icon md-svg-icon="./assets/svg/credit-card-in-a-circle.svg" class="avatar"></md-icon>-->
  <!--Credit-->
  <!--</md-button>-->
  <!--</md-list-item>-->
  <!--</md-list>-->
  <!--</md-sidenav>-->
  <div flex layout="column" tabIndex="-1" role="main">
    <md-content flex id="content" class="anthe-content">
      <br>
      <div ui-view></div>
      <br>
      <br>
      <md-divider></md-divider>
      <p align="center">Copyright © 2016 An The Dung - ABCStudio</p>


    </md-content>
  </div>
</div>

<!-- *** DO NOT DELETE THIS TRUNK BELOW ***-->


<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<!-- <script src="../node_modules/angular/angular.js"></script>
   <script src="../node_modules/angular-animate/angular-animate.js"></script>
   <script src="../node_modules/angular-aria/angular-aria.js"></script>
   <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

   <script src="./src/users/Users.js"></script>
   <script src="./src/users/UserController.js"></script> -->
<script src="./src/users/UserService.js"></script>

<script type="text/javascript">

</script>

</body>
</html>
