<br>
<div layout-align="center center" layout="row" flex="22">
  <md-card>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-icon-button" aria-label="Facebook" href="https://www.facebook.com/thutrang.nguyen.54379">
        <md-icon md-svg-icon="assets/svg/facebook-logo.svg"></md-icon>
      </md-button>
      <md-button ng-href="#order/1" class="md-icon-button" aria-label="Shop">
        <md-icon md-svg-icon="assets/svg/shopping-purse-icon.svg"></md-icon>
      </md-button>
    </md-card-actions>
    <md-card-content class='anthe-aboutme' padding="30px">
      <img flex-auto="" ng-src="assets/images/aboutBongBiShop.jpg" alt="An The Dung" hide-sm hide-md>

      <div layout="column" align="center center" layout-padding="10" flex="22">
        <h2 show-sm="" show-md> BốngBi Shop </h2>
        <div show-sm="600" show-md hide-lg hide-gt-lg>
          <p>Hàng xách tay cho mẹ và bé</p>
          <p>23 Núi Đôi, Thị Trấn Sóc Sơn, Hà Nội (Tầng 2, hiệu ảnh Bình Chúc)</p>
          <p>Liên lạc: <br> 0984 056 076 | 0997 887 968</p>
        </div>

        <p> Niềm hạnh phúc của các mẹ và bé là niềm vui của mẹ Bống và Bi! </p>
      </div>
    </md-card-content>
</div>
