<md-content>
  <br>
  <div layout-align="center center" layout="row" flex="22">
    <md-card>
      <md-card-content class='anthe-aboutme' padding="50px">
        <div layout="column" align="center center">
          <img class="pull-right" ng-src="assets/images/aboutBongBiShop.jpg" alt="An The Dung">
          <h3 class="md-title"> BốngBi Shop </h3>
          <p> Niềm hạnh phúc của các mẹ và bé là niềm vui của mẹ Bống và Bi! </p>
        </div>
      </md-card-content>

      <md-button class="md-icon-button" aria-label="Facebook" href="https://www.facebook.com/thutrang.nguyen.54379">
        <md-icon md-svg-icon="assets/svg/facebook-logo.svg"></md-icon>
      </md-button>
  </div>
</md-content>
